# Grafana administrator password
GRAFANA_PASSWORD=change-me

# Password used by vmagent to send metrics through vmauth
VMAUTH_VMAGENT_PASSWORD=change-me

# Password used by Grafana to query VictoriaMetrics through vmauth
VMAUTH_GRAFANA_PASSWORD=change-me